.button-container{
    width: auto !important;
}

.btn, .btn:hover, .btn:visited{
    background-color: orange;
    border-radius: 0%;
}

.btn:active{
    background-color: rgb(248, 138, 0) !important;
}