@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

#text_gamePageSearch,
#text_communitySearch {
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    font-family: 'FontAwesome';
}

#filter_icon,
#search_icon {
    font-family: 'FontAwesome';
}

.sidebar {
    width: 200px;
    background-color: #e1e1e1;
    padding: 10px;
}

.chapter-navbar {
    width: 150px;
    background-color: #d1d1d1;
    padding: 10px;
}

.button-container {
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
}

.button-container button {
    display: block;
    width: 100%;
    margin: 5px 5px;
    padding: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;
}


.community-container {
    margin: 10px;
}

.community-container .left-side {
    width: 25%;
    display: flex;
    float: left;
}

.community-container .right-side {
    display: flex;
    float: right;
}


.community-container button {
    margin-right: 5px;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 0px 10px;
}

.sidebar button,
.chapter-navbar button,
.content button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.content .chapter {
    margin: 20px 0;
}

.content .chapter h2 {
    margin: 10px 0;
}

.content .chapter p {
    margin: 10px 0;
}

.content .image-placeholder {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    margin: 20px 0;
}

.post-head {
    display: inline;
}

.content .post-vote-btn {
    font-family: 'FontAwesome';
    padding: 0px;
    width: 35px;
    margin: 0px;
}

.upDownVote {
    float: right;
}
