body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
    max-width: none;
}

.navbar {
    display: flex;
    background-color: #333;
    color: #fff;
    --bs-navbar-padding-y: 0rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-items,
.right-items {
    display: flex;
    align-items: center;
}

.left-items {
    display: flex;
    align-items: stretch;
    padding: 5px;
}

.left-items > div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.right-items {
    padding-right: 20px;
}

.navbar div {
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navMenu a.active {
    background-color: orange;
    color: white;
}

.main {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}