.main {
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container .form-control {
    margin-bottom: 10px;
}

.form-container button {
    width: 100%;
}

#deleteConfirmModal .modal-body {
    background-color: #dc3545;
    vertical-align: middle;
    align-items: center;
    color: white;
    text-align: center;
}

#deleteConfirmModal .modal-header {
    background-color: #dc3545;
    color: white;
    justify-content: center;
    border-bottom: 0;
}

.modal-footer {
    justify-content: center;
}