/* @import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"; */

/* foOldal.css (Specific styles for foOldal.html) */

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content {
    flex: 1;
}

.foOldal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px - 50px);
    flex-direction: column;
}

.foOldal_idBeker_container {
    display: flex;
    gap: 10px;
}

#text_oldalKereso {
    vertical-align: middle;
    text-align: center;
    margin: 0 10px;
    border-radius: 10px;
}

.left-items {
    display: flex;
    align-items: center;
}